.Width_300px{width:300px;}
.padding_left_20px{padding-left:20px;}
.padding_bottomtop_5px{padding-bottom:5px; padding-top:5px;}
.header_btn_div{background-color:#f0f7fd; border:1px solid #d0e3f0;}
.formLabels{font-size:18px; font-family:Calibri;padding: 6px 12px; }
.btnShowstyle{display:block;}
.btnHideStyle{display:none;}
.Width_500px{width:500px;}
.informationDiv{width:600px; margin:0px auto;}
.width_100{width:100%;}
.searchDiv{padding:3px;text-align:right; float:right}
.box-body-outer{border:1px solid #d0e3f0;}
.min-height{min-height:677px;}